<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 20px;
            background-color:#222;
        }
        h1,h2,h3,h4{
            color: white;
        }
        p{
            color: white;
        }
    </style>
</head>
<body>
    <h1>Welcome!! This is ConnectIO!</h1>

    <% if (locals.user) { %>
        
        <section id="feed-posts">
            <h3> Your Feed!!</h3>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="5" placeholder="type here.."></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <!-- POST CONTAINERS -->

        <div id="post-list-container">
            <ul>
                <% for(post of posts) { %> 
                <li>
                    <h3>
                        <% if (locals.user && locals.user.id == post.user.id ) { %>
                        <small>
                            <a href="/posts/destroy/<%= post.id %>">X </a>
                        </small>
                        <% } %>
                        <%= post.content %>
                        <small>Author: <%= post.user.name %> </small>
                    </h3>

                    <div class="post-comments">
                        <% if(locals.user) { %>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Type here to add comment..." required>
                            <input type="hidden" name="post" value="<%= post._id %>" >
                            <input type="submit" value="Add Comment">
                        </form>

                        <% } %>
                    </div>

                    <div class="post-comments-list">
                        <ul id="post-comments- <%= post._id%>">
                            <% for(comment of post.comments){ %>
                            <p>
                                <% if (locals.user && locals.user.id == comment.user.id ) { %>
                                    <small>
                                        <a href="/comments/destroy/<%= comment.id %>">X</a>
                                    </small>
                                <% } %>
                                <%= comment.content %>
                                <br>
                                <small>
                                    <%= comment.user.name %>
                                </small>
                            </p>
                            <% } %>
                        </ul>
                    </div>
                </li>
                <% } %>

            </ul>

        </div>

    <% } else { %>
        <h3> Login/Sign-up to your account to Post!!</h3>
    <% } %>
    
    
</body>
</html>