<html>
<head>
    <%- style%>
    <link rel="stylesheet" href="/css/layout.css">
    <title>
        <%= title %>
    </title>
    <%- style%>

</head>
<body>

    <%-  include('_header'); %>
    
    
    <%- body %>


    <%-  include('_footer'); %>

    <%-script %>

</body>
</html>